
:root{
    /* Palette */
    --darkGreen:            #00241a;
    --brightGreen:          #05e8a0;
    --midGreen:             #4aa185;
    --lightGreen:           #9CBAAC;
    --midGrey:              #666666;
    --lightGrey:            #f8f8f8;
    --offWhite:             #EFEFEF;

    --pc-foreground:           #093e6a;
    --pc-foreground:           #00241a;
    --pc-background:           #05e8a0;
    /* --foreground:           #00241a; */
    --bg-color:             #fff;
    --color-overlay-1:      hsl(161, 97%, 46%);
    --color-overlay-2:      #caa02f;
    --color-overlay-3:      #00261B;
    --purple:               #460372;
    

    /* Google palette for testing */
    --nodeBase:             var(--brightGreen);
    --nodeLabel:            var(--darkGreen);
    --flood:                #5386d8;
    --heat:                 #F4B400;
    --fire:                 #DB4437;
    --drought:              #0F9D58;
    /* Alternate palette */
    --flood:                #428cd4;
    --heat:                 #e6b93e;
    --fire:                 #dd5959;
    --drought:              #2c9f98;
    --drought:              #bf5daf;


    --noRegrets:            var(--midGreen);
    --twoCriteria:          var(--midGreen);
    --oneCriteria:          var(--midGreen);
    --zeroCriteria:          var(--midGrey);
    --discardCriteria:      #d57d74;
    --forRating:              var(--midGrey);


    --noCriteria:           #bf5daf;
    --yesCriteria:          var(--midGreen);
    --unsureCriteria:       #f8f8f8;

    --healing-country:      #00261B;

    --approach-bg:          #9CBAAC;
    --risk-bg:              var(--midGreen);
    --resilience-bg:        #03E69F;

    --focusArea:            var(--midGreen);

    --bg-blend:             multiply;
    --blur:                 0px;
    --fg-blend:             lighten;
    --spacing:              0.5rem;

    --scale-shadow:         rgba(104, 104, 104, 0.15);
    --scale-local:          #fff;  
    --scale-regional:        var(--scale-shadow); 
    --scale-state:           var(--scale-shadow); 
    --scale-national:        var(--scale-shadow); 

    --rcp45:                #00ffff;
    --rcp85:                #e21ffc;

    --postcard-img-height: 43vh;

}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	/* padding: 8px; */
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
figure{
    margin: 0;
}
a {
	color: var(--midGreen);
    font-weight: 700;
	text-decoration: none;
    transition: all 300ms;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: var(--midGreen);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

p, li{
    color: 	var(--color-content-text);
}
p{
    margin-block-start: 0.5rem;
    line-height: 1.5;
}
li{
    line-height: 1.5;
    margin-bottom: 0.5rem;
}

.about-container p,
.about-container ul{
    font-size:      1vw;
}

*,
*::after,
*::before {
    box-sizing: border-box;
} 

figure {
    display:                block;
    text-align:             center;
    width:                  100%;
    overflow:               hidden;
}

.hidden{
    opacity:            0;
    pointer-events:     none;
}

body {
    margin: 0;
    --color-text: #2e2e2e;
    --color-text-frame: #fff;
    --color-bg: #fff;
    --color-link: #555;
    --color-link-hover: #fff;
    --color-hero-bg: #0e0e0e;
    --color-hero-title: #fff;
    --color-enter: #fff;
    --color-content-title: #111;
    --color-content-text: #868181;
    --color-select: #111;
    --color-select-item: #868181;
    --color-select-item-hover: #000;
    --color-select-current: #111;
    --color-social: #555;
    --color-social-hover: #000;
    --color-reel-number: #111;
    --color-menu-link: #101010;
    --color-menu-link-hover: #000;

    color:                      var(--color-text);
    background-color:           var(--color-bg);
    text-rendering:             optimizeLegibility;
    -webkit-font-smoothing:     antialiased;
    -moz-osx-font-smoothing:    grayscale;
}

@media print{
    .about-content p,
    .about-content li{
        font-size:      10pt;
    }
}
